Django==4.2.26
django-jazzmin==3.0.1
django-debug-toolbar==6.1.0
dj-database-url==3.0.1
Pillow==11.3.0
pytesseract==0.3.13
python-dotenv==1.2.1
num2words==0.5.14
weasyprint==66.0
cryptography==43.0.3
langchain==0.3.27
langchain-community==0.3.31
langchain-core==0.3.83
langchain-huggingface==0.3.1
