{% extends "admin/change_form.html" %}

{% block submit_buttons_bottom %}
    {% if request.GET.project_worker_id %}
        <div class="submit-row">
            <input type="submit" value="Save" class="btn btn-success form-control" name="_save">
        </div>
    {% endif %}
{% endblock %}

{% block submit_buttons_top %}
    {% if request.GET.project_worker_id %}
        <div class="submit-row">
            <input type="submit" value="Save" class="btn btn-success form-control" name="_save">
        </div>
    {% endif %}
{% endblock %}
